<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="/feed/create/">
            <button>피드 작성하기</button>
        </a>
    </div>
    <ul>
        {% for feed in feeds %}
        <li>
            <a href="/feed/read/{{feed.id}}">
                {{ feed.title }}

            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>