<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>여기서 수정해주세요</h1>
    <form action="/feed/update/{{feed.id}}/" method="post">
        {%csrf_token%}
        <h1>{{user.username}} 님이 작성하신 글</h1>
        <!-- value를 넣는거는 수정하기때 내가 무엇을썻는지 나와야 하므로 -->
        <p>제목</p><input type="text" name="title" id="title" value="{{feed.title}}">
        <p>내용</p><input type="text" name="content" id="content" value="{{feed.content}}">
        <button type="submit">제출</button>
    </form>

</body>

</html>