{% extends 'base.html' %}

{% block title %}피드 작성{% endblock %}

{% block content %}


<div style="height: 640px;">
    <form class="form-container" style="height: 650px; margin: 50px auto 0px auto;" 
        method="POST" action="/feed/create/" enctype="multipart/form-data">
        <div class="form" method="POST" action="/feed/create/" enctype="multipart/form-data">
            <span class="heading" style="color: rgb(0, 0, 0); font-weight: 500;">피드 작성</span>
            <input placeholder="Title" id="title" name="title" type="text" class="input">
            <input type="file" class="form-control" id="image" name="image" style="margin-bottom: 20px;">
            <textarea style="height: 300px;" placeholder="Say Hello" rows="10" cols="30" id="content" name="content"
                class="textarea"></textarea>
            <div class="button-container">
                <button class="send-button" type="submit" onclick="location.href='/feedlist'">작성 완료</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
{% endblock %}