{% extends 'base.html' %}
{% block title %}피드 상세 페이지{% endblock %}
{% block content %}
<div style="height: 640px;">
    <div class="form-container" style="height: auto; margin: 50px auto 0px auto;" 
        method="POST" action="/feed/read/{{feed.id}}/" enctype="multipart/form-data">

        <div class="form" method="POST" action="/feed/read/{{feed.id}}/" enctype="multipart/form-data">
            <span class="heading" style="color: rgb(0, 0, 0); font-weight: 500;">제목</span>
            <p class="input__field input__field--textarea" style="height: 10px;" id="title" name="title">
                {{feed.title}}</p>
        </div>
        <div class="form" method="POST" action="/feed/read/{{feed.id}}/" enctype="multipart/form-data">
            <span class="heading" style="color: rgb(0, 0, 0); font-weight: 500;">내용</span>
            {% if feed.image %}
    <img src="{{ feed.image.url }}" alt="이미지" style="max-width: 100%; height: auto;">
    {% endif %}
            <p class="input__field input__field--textarea" style="height: 10px;" id="content" name="content">
                {{feed.content}}</p>
                
        </div>
        <div class="form" method="POST" action="/feed/read/{{feed.id}}/" enctype="multipart/form-data">
            <span class="heading" style="color: rgb(0, 0, 0); font-weight: 500; ">생성 시간</span>
            <p class="input__field input__field--textarea" style="height: 10px;" id="created_at" name="created_at">
                {{feed.created_at}}</p>
                <span class="heading" style="color: rgb(0, 0, 0); font-weight: 500;">수정 시간</span>
            <p class="input__field input__field--textarea" style="height: 10px;" id="created_at" name="created_at">
                {{feed.updated_at}}</p>
        </div>
        <!-- 좋아요 버튼 -->
        {% if feed in request.user.liked_feed.all %}
            <div class="heart-container" title="Like" style="margin-bottom: -40px;">
                <input type="checkbox" class="checkbox" id="Give-It-An-Id" checked onclick="location.href='/feed/read/like/{{ feed.id }}'" method="post">
                <div class="svg-container">
                    <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                        </path>
                    </svg>
                    <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                        </path>
                    </svg>
                    <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="10,10 20,20"></polygon>
                        <polygon points="10,50 20,50"></polygon>
                        <polygon points="20,80 30,70"></polygon>
                        <polygon points="90,10 80,20"></polygon>
                        <polygon points="90,50 80,50"></polygon>
                        <polygon points="80,80 70,70"></polygon>
                    </svg>
                </div>
            </div>
        {% else %}
        <div class="heart-container" title="Like" style="margin-bottom: -40px;">
            <input type="checkbox" class="checkbox" id="Give-It-An-Id" onclick="location.href='/feed/read/like/{{ feed.id }}'" method="post">
            <div class="svg-container">
                <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                    </path>
                </svg>
                <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                    </path>
                </svg>
                <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="10,10 20,20"></polygon>
                    <polygon points="10,50 20,50"></polygon>
                    <polygon points="20,80 30,70"></polygon>
                    <polygon points="90,10 80,20"></polygon>
                    <polygon points="90,50 80,50"></polygon>
                    <polygon points="80,80 70,70"></polygon>
                </svg>
            </div>
        </div>
        {% endif %}
        <div class="textContent">
            <p class="h6" style="margin-top: 16px; margin-left: 40px; color: gray;">
                {{ feed.like }} 명이 좋아합니다</p>
        </div>
        <!-- 수정/삭제 버튼 -->
        <div style="padding-bottom: 10px; " align="right">
            {% if user.is_authenticated and user == feed.author %}
            <a href="/feed/update/{{feed.id}}/" class="btn btn-primary mt-3">수정하기</a>
            <form action="/feed/delete/{{feed.id}}/" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-3">삭제하기</button>

            </form>
            {% endif %}
            <a href="/feedlist/" class="btn btn-primary mt-3">뒤돌아가기</a>
        </div>
        
        <form method="post" action="{% url 'create_comment' feed.id %}" class="mb-4">
            <span class="heading" style="color: rgb(0, 0, 0); font-weight: 500;">댓글</span>
            {% csrf_token %}
            <textarea class="form-control" name="content" rows="3" placeholder="여기에 댓글 작성해주세요"></textarea>
            
            <button type="submit" class="btn btn-primary mt-3" >댓글 작성</button>
        </form>
        
        <div class="card bg-light">
            
            <div class="card-body">
                
                <!-- Comment form -->
                <!-- Comment with nested comments -->
                <div class="comment-list">
                    {% for comment in comments %}
                    <div class="mb-4 comment-box" id="comment-{{ comment.pk }}" >
                        <div class="media" style="border: 1px solid #ccc; display:flex;" >
                            <div style="border-right: 1px solid #ccc;">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            </div>
                            <div class="media-body "style="border-right: 1px solid #ccc; flex-grow: 1;">
                                <!-- 작성자 이름과 날짜 -->
                                <h5 class="mt-0">{{ comment.author.username }}님 &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small></h5>
                                <!-- 댓글 내용 -->
                                <p>{{ comment.content | linebreaks }}</p>
                            </div>
                                <!-- 댓글 수정 버튼: 로그인한 사용자와 댓글 작성자가 일치할 때만 보이게 -->
                                {% if user.is_authenticated and comment.author == user %}
                                <div class="float-right">
                                    <a role="button"
                                        class="btn btn-sm btn-info btn-update"
                                        id="comment-{{ comment.pk }}-update-btn"
                                        href="/feed/update_comment/{{ comment.pk }}/">
                                        수정
                                    </a>
                                    <div style="margin-top: 20px;">
                                    <a role="button"
                                        class="btn btn-sm btn-info btn-delete"
                                        id="comment-{{ comment.pk }}-delete-btn"
                                        href="/feed/delete_comment/{{ comment.pk }}/">
                                        삭제
                                    </a>
                                </div>
                                </div>
                                {% endif %}
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        
    </div> 
        











    {% endblock %}