{% extends 'base.html' %}
{% block title %}피드 상세 페이지{% endblock %}
{% block content %}
<div style="height: 640px;">
    <div class="form-container" style="height: 1050px; margin: 50px auto 0px auto;">
        <form method="POST" action="/feed/update/{{feed.id}}/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
                <span class="heading" style="color: rgb(0, 0, 0); font-weight: 500;">제목</span>
                <input placeholder="Title" id="title" name="title" type="text" class="input" value="{{feed.title}}">
            </div>
            <div class="form">
                <span class="heading" style="color: rgb(0, 0, 0); font-weight: 500;">내용</span>
                <input placeholder="Content" id="content" name="content" type="text" class="input" value="{{feed.content}}">
                <input type="file" class="form-control" id="image" name="image" style="margin-bottom: 20px;">
            </div>
            <div class="button-container">
                <button class="send-button" type="submit">수정 완료</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
</html>
