<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>feed list 표시 영역</h1>

    <ul>
        {% for feed in page_obj %}
        <li>
            <a href="/feed/read/{{feed.id}}"> {{ feed.title }} {{ feed.content }} </a>
        </li>
        {% endfor %}
    </ul>

    <ul style="display:flex;list-style: none">

        <!-- paginator 1페이지만 있을 때 숨기기 -->
        {% if page_obj.has_other_pages %}
        <ul style="display:flex;list-style: none;">

            <!-- paginator 이전 페이지 구현 -->
            {% if page_obj.has_previous %}
            <li style="margin:3px;">
                <a style="text-decoration:none; color: blue;" href="?page={{page_obj.previous_page_number}}">&#10094;
                    Prev</a>
            </li>
            {% endif %}

            <!-- paginator 페이지 숫자 보여주기 -->
            {% for page in custom_range %}
            <!-- paginator 현재 페이지 강조하기 -->
            {% if page == page_obj.number %}
            <li style="margin:3px">
                <a style="text-decoration: none; color: red;" href="?page={{ page }}">{{ page }}</a>
            </li>
            {% else %}
            <li style="margin:3px">
                <a style="text-decoration: none; color: blue;" href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}

            <!-- paginator 다음 페이지 구현 -->
            {% if page_obj.has_next %}
            <li style="margin:3px;">
                <a style="text-decoration:none; color: blue;" href="?page={{page_obj.next_page_number}}">&#10095;
                    Next</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
</body>

</html>